<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">vgo</property>
        <property name="hibernate.connection.password">vgo</property>
        <property name="hibernate.connection.url">jdbc:mysql://103.90.220.148:3306/vgo?serverTimezone=UTC</property>

        <!-- verifyServerCertificate=true&amp;useSSL=false&amp;requireSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp; -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property> 
        <property name="connection.pool_size">1</property>
         
        <!-- <mapping class="com.hib.entities.Student"></mapping> -->
 
    </session-factory>
</hibernate-configuration>